<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
<!--    <link rel="stylesheet" href="./styles/style.css" />-->
    <link  th:href="@{/styles/style.css}" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="companyInfo card">
        <!-- Initial Balance -->
        <div class="form-group">
            <label for="basicSalaryOfFirstGrade"
            >Basic Salary Of First Grade</label
            >
            <div class="inpField">
                <input
                        type="number"
                        class="form-control"
                        id="basicSalaryOfFirstGrade"
                        aria-describedby="emailHelp"
                        placeholder="Basic Salary"
                />
                <button
                        onclick="updateLowestBasicSalary()"
                        type="button"
                        class="btn btn-success"
                >
                    Update
                </button>
            </div>
        </div>
        <!-- Basic Salary -->
        <div class="form-group">
            <label for="initialBalanceOfCompany"
            >Initial Balance of Company</label
            >
            <div class="inpField">
                <input
                        type="number"
                        class="form-control"
                        id="initialBalanceOfCompany"
                        aria-describedby="emailHelp"
                        placeholder="Initial Balance"
                />
                <button
                        onclick="updateInitialBalance()"
                        type="button"
                        class="btn btn-success"
                >
                    Update
                </button>
            </div>
        </div>
    </div>

    <div class="card text-center">
        <button onclick="sendSalary()" type="button" class="btn btn-primary">
            Send Salary
        </button>
        <br />
        Total Amount requried to pay the salary of all employees is
        <span id="totalAmountOfSalaryOfAllEmployees"></span>
        <div id="warningText" class="warningText"></div>
    </div>

    <!-- User Table -->
    <div id="tableDiv" class="card"></div>
</div>

<script src="./scripts/api.js"></script>
<script src="./scripts/axios.js"></script>
<script src="./scripts/company.js"></script>
<script src="./scripts/employee.js"></script>
</body>
</html>
